.section_in_info{
    background: #f2f2f2;
    margin-top: 125px;
    margin-bottom: 125px;
    padding-top: 25px;
    padding-bottom: 35px;
    h4{
        text-align: center;
    }
    @include medium{
        h4{
            text-align: start;
        }
        .info_text{
            margin-bottom: 35px;
        }
    }
}
.main_in_info{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    p{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: black;
    }
    @include medium{
        flex-direction: column;
    }
}
.info_text{
    width: 45%;
}
.donats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include medium{
        flex-direction: column;
        img{
            margin: 25px 0;
        }
    }
}